<app-spinner></app-spinner>
<section class="common-img-bg">
    <div class="contenedor">
        <div class="box-login shadow-lg border p-5 rounded">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="/./assets/images/logo.jpg" alt="Logo" id="logo">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center">Cambio de contraseña!!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form class="login-form" (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
                        <mat-form-field class="login-full-width">
                            <mat-label>Contraseña actual</mat-label>
                            <input matInput type="password" placeholder="Digita la contraseña" formControlName="currentPassword">
                        </mat-form-field>
                        
                        <mat-form-field class="login-full-width">
                          <mat-label>Nueva contraseña</mat-label>
                          <input matInput type="password" placeholder="Digita la nueva contraseña" formControlName="newPassword">
                        </mat-form-field>
                      
                        <mat-form-field class="login-full-width">
                          <mat-label>Confirmar contraseña</mat-label>
                          <input  type="password"  matInput  placeholder="Confirme la contraseña" formControlName="ConfirmPassword">
                        </mat-form-field>
                        <button mat-raised-button color="primary" class="float-end" [disabled]="changePasswordForm.invalid" >Aceptar</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</section>