<app-spinner></app-spinner>
<h1 class="text-center">CARGA DE ARCHIVOS CONFIGURACION</h1>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Datos principales del archivo
        </mat-panel-title>
        <mat-panel-description>
          <ng-container *ngIf="!panelOpenState">
                Despliegue para ver la información relacionada
          </ng-container>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="fileConfigForm">
        <div fxLayout="row wrap" fxLayoutGap="16px">
            <mat-form-field fxFlex="8%">
                <mat-label>Código</mat-label>
                <input matInput placeholder="Id" formControlName="id" readonly>
            </mat-form-field>
            
            <mat-form-field fxFlex="25%">
              <mat-label>Cliente</mat-label>
              <mat-select formControlName="client">
                @for (client of clientList; track client) {
                  <mat-option [value]="client.id">{{client.name}}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="50%">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Descripción" formControlName="name">
            </mat-form-field> 

            <mat-form-field fxFlex="15%">
              <mat-label>Línea</mat-label>
              <mat-select formControlName="line">
                @for (itemLine of lineList; track itemLine) {
                  <mat-option [value]="itemLine.id">{{itemLine.name}}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="25%">
                <mat-label>Nivel</mat-label>
                <mat-select formControlName="levelacces">
                    <mat-option value="TD">Todos</mat-option>
                    <mat-option value="CP">Cliente Principal</mat-option>
                    <mat-option value="SU">sucursales</mat-option>
                </mat-select>
            </mat-form-field>
        
            <div fxFlex="25%">
                <div style="margin-top: 5%;">
                    <label>Activo: </label>
                    <mat-radio-group formControlName="active">
                        <mat-radio-button value="Y">Si</mat-radio-button>
                        <mat-radio-button value="N">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>
        <button mat-raised-button color="primary" style="margin-right:3%" (click)="onSubmit()" class="float-center" [disabled]="fileConfigForm.invalid">{{labelButton}}</button>
        <button *ngIf="showButton"  mat-raised-button color="accent" class="float-center" (click)="newCapture()">Crear captura</button>
        <h5>Los campos con * (asterisco) son obligatorios</h5>
    </form>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenDetailState = true"
                         (closed)="panelOpenDetailState = false"
                         class="mt-4"
                         >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Detalle del configuración archivo
        </mat-panel-title>
        <mat-panel-description>
          <ng-container *ngIf="!panelOpenDetailState">
                Despliegue para ver el detalle de la configuración
          </ng-container>
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <mat-tab-group preserveContent class="tab-group-top">
        <mat-tab label="Campos del archivo">
          <app-load-file-field/>            
        </mat-tab>
        <mat-tab label="Sucursales del archivo">
          <app-load-file-branch/>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
