<section class="common-img-bg">
    <div class="contenedor">
        <div class="box-login shadow-lg border p-5 rounded">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="/./assets/images/logo.jpg" alt="Logo" id="logo">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center">Bienvenido!!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form class="login-form">
                        <mat-form-field class="login-full-width">
                          <mat-label>Usuario</mat-label>
                          <input matInput placeholder="Digite el usuario">
                        </mat-form-field>
                      
                        <mat-form-field class="login-full-width">
                          <mat-label>Contraseña</mat-label>
                          <input  type="password"  matInput  placeholder="Digite la contraseña">
                        </mat-form-field>
                        <button mat-raised-button color="primary" class="float-end">Ingresar</button>
                      </form>
                </div>
            </div>

            <!-- row 2 -->
            <div class="row mt-3">
                <div class="col-lg-12">
                    <p class="text-end mt-3 link-custom"><a href="#" class="text-primario">¿Olvidaste tu contraseña?</a></p>
                </div>
            </div>
        </div>
    </div>
</section>