
<app-spinner></app-spinner>
<h1 class="text-center">CONSULTA ITEMS</h1>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Parametros de consulta
        </mat-panel-title>
        <mat-panel-description>
          <ng-container *ngIf="!panelOpenState">
                Despliegue para ver los parametros de consulta
          </ng-container>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>Clientes</mat-label>
        <mat-select [(ngModel)]="selectedClientValue" name="client" (selectionChange)="onSelectionChangeFileds()">
          @for (client of clienteList; track client) {
            <mat-option [value]="client.id">{{client.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-radio-group [(ngModel)]="selectedOption" aria-label="Select an option" class="category-select">
        <mat-radio-button value="and">Y</mat-radio-button>
        <mat-radio-button value="or">O</mat-radio-button>
      </mat-radio-group>
      <mat-form-field class="category-select">
        <mat-label>Campos por cliente</mat-label>
        <mat-select [(ngModel)]="selectedFieldClientValue" name="Fields">
          @for (field of fieldByClient; track field) {
            <mat-option [value]="field.name">{{field.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="finder-header" class="category-select">
        <mat-icon matPrefix>wrap_text</mat-icon>
        <mat-label>Parametro</mat-label>
        <input matInput [(ngModel)]="valueParameter" placeholder="Parametro">
      </mat-form-field>

      <ng-container>
        <button mat-raised-button color="primary" class="button-space mb-3" (click)="addDataOnFilter()">Crear consulta</button>
      </ng-container>

      <p id="selectedValuesContainer">{{valuesfilter}}</p>
      <p hidden>{{hiddenfilter}}</p>

      <div class="text-center">
        <button mat-raised-button color="primary" (click)="getDataIntem()">Consultar</button>
        <button mat-raised-button color="accent" class="button-space" (click)="borrarFilter();">Borrar</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  
  <mat-tab-group preserveContent class="tab-group-top">
    <mat-tab label="Item">
      <app-table 
        [configTable] ="configItemTable"
        [tableData] ="dataSourceItem"
        [loadingData] = "loadingData"
        (pageChanged)="onPageItemChanged($event)"
        (dataSelected) = "onDataSelected($event)">
      </app-table>
    </mat-tab>
    <mat-tab label="Historial">
      <app-table 
        [configTable] ="configHistoryTable"
        [tableData] ="dataSourceHistory"
        [loadingData] = "loadingData"
        (pageChanged)="onPageHistoryChanged($event)">
      </app-table>
    </mat-tab>
    <mat-tab label="Remesas">
      <app-table 
        [configTable] ="configRemittanceTable"
        [tableData] ="dataSourceRemittance"
        [loadingData] = "loadingData"
        (pageChanged)="onPageRemittanceChanged($event)">
      </app-table>
    </mat-tab>


  </mat-tab-group>