<mat-toolbar color="primary">
    <mat-toolbar-row>
     <button mat-icon-button  (click)="drawer.toggle();"><mat-icon routerLinkActive="active-icon">menu</mat-icon></button>
      <span>{{title}}</span>
      <span class="toolbar-spacer "></span>
      <div id="infoUser">
        <span >Usuario : {{userName}}</span>
      </div>      
    </mat-toolbar-row>
</mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container" >
    <mat-sidenav
    #drawer
    class="sidenav mat-sidenav-width"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="isMenuOpen">
    <mat-nav-list>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="mat-tree-space">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <button mat-button (click)="onItemClick(node)">
              <mat-icon class="mat-icon-rtl-mirror">
                {{node.icon}}
              </mat-icon>
              {{node.name}}
            </button>
          </mat-tree-node>
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <button mat-button matTreeNodeToggle
                    [attr.aria-label]="'Toggle ' + node.name" >
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
              {{node.name}}
            </button>
          </mat-tree-node>
        </mat-tree>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content  [ngStyle]="{ 'margin-left.px': contentMargin }" >
      <div class="content-page">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
<app-footer></app-footer>
